{%ckan_extends%}

<form class="dataset-form form-horizontal" method="post" data-module="basic-form">
  {% block error_summary %}
    {{super()}}
  {% endblock %}

  {% block fields %}
   {{super()}}
    {#% block package_basic_fields_tags %#}
                  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
                  {{ form.input('datasets', id='field-tags', label=_('Datasets'), placeholder=_('eg. default'), value='', error='', classes=['control-full'], attrs=tag_attrs) }}
                {#% endblock %#}
  {% endblock %}

  <div class="form-actions">
    {% block delete_button %}
      {{super()}}
    {% endblock %}
    {{ h.nav_link(_('Cancel'), controller='related', action='list', id=c.id, class_='btn') }}
    <button class="btn btn-primary" type="submit" name="save">{% block button_text %}{{ _('Save') }}{% endblock %}</button>
  </div>
</form>
