{% ckan_extends %}
{% import 'macros/form.html' as form %}
{% set page = c.page %}
{%if h.extra_v() != {} %}
  {% set errors = h.extra_v()['errors'] %}
  {% set data = h.extra_v()['data'] %}
{%endif%}

{% block subtitle %}
    {{ _('Apps') }}
{% endblock %}

{% block breadcrumb_content %}
  {% if c.controller == 'ckanext.applications.apps:AppsController' %}
    <li><a href='/apps'>{{ _('Applications') }}</a>  </li>
  {% elif c.controller == 'ckanext.applications.detail:DetailController' %}
    <li><a href='/apps'>{{ _('Applications') }}</a> / {{ c.title }}</li>
  {% else %}
    <li>{{ _('Apps') }}</li>
  {% endif %}
{% endblock %}

{% block primary_content %}
{% if c.action == "new_app" %}
    {%snippet 'related/snippets/new_app.html', app_names=c.app_names, form = form, dataset = c.dataset, error_summary=error_summary, count=count, errors=errors, data=data%}
{% else %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}

            {% if c.action == 'dashboard' and h.check_access('app_create') %}
              {{ _('Applications') }} <a class="btn btn-primary" href="/apps/new" style="color:white;float:right;"><span class="fa fa-plus-square"></span> {{_('New app')}}</a>
            {% elif c.action == 'detail' %}
              
            {% else %}
              {{ _('Apps') }}
            {% endif %}
        {% endblock %}
      </h1>
  {% if c.controller != 'ckanext.applications.detail:DetailController' %}


{%if c.action != 'detail' %}
    <form class="section site-search simple-input" action="/apps/search" method="get" >
            <!--div class="field"!-->
              {% if request.url.split("?")[1] %}
                {% for i in request.url.split("?")[1].split("&") %}
                {% if i.split('=')[0] != 'app_name' %}
                   <input id="{{i.split('=')[0]}}" type="text" name="{{i.split('=')[0]}}" value="{{i.split('=')[1]}}" style="display: none;"/> {%endif%}
                {%endfor%}
              {%endif%}
              <label for="field-sitewide-search">{{_('Search Applications')}}</label>
              <input id="field-sitewide-search" type="text" name="app_name" placeholder="{% if c.name == "" %}{{_('Search')}}{%else%}{{c.name}}{%endif%}"  style="display:inline; width: 70%; height: 3.25em; margin-bottom: 0em;"/>
              
              <button class="btn-search" type="submit" style="display:inline;">{{_('Search')}}</button>        
    </form>
    {% endif %}
  {% endif %}

  {% block related_items %}
  {%if c.action != 'detail' %}
      {#% if c.controller != 'ckanext.applications.detail:DetailController' %#}
        {% if item_count %}
          {%if c.language == 'sk' %}
            <p>Zobrazené položky <strong>{{ page.first_item }} - {{ page.last_item }}</strong> z <strong>{{ item_count }}</strong>  súvisiace položky nájdené.</p>
          {%else%}
          {% trans first=page.first_item, last=page.last_item, item_count=item_count %}
              <p>Showing items <strong>{{ first }} - {{ last }}</strong> of <strong>{{ item_count }}</strong> related items found</p>
            {% endtrans %}
               
          {%endif%}
        {% elif c.filters.type %}
          {% trans item_count=item_count %}
            <p><strong>{{ item_count }}</strong> related items found</p>
          {% endtrans %}
        {% else %}
          <p class="empty">{{ _('There have been no apps submitted yet.') }}
        {% endif %}
      {%endif%}
  {% endblock %}

  {% block related_list %}
  {%if c.action == 'detail' %}
    {#% if c.controller == 'ckanext.applications.detail:DetailController' %#}
      {%snippet "related/snippets/app_detail.html" , title=c.title, id=c.id, description=c.description, created=c.created, owner=c.owner, urlx=c.url, datasets=c.datasets, private=c.private , userobj=c.userobj %}
      {%snippet "related/snippets/comments2.html", data = [c.id, c.user, c.id, c.userobj.id] %}
    {% else %}
      {{super()}}
    {%endif%}
    {#%endif%#}
  {% endblock %}
          </div>

  {% block page_pagination %}
            {%if c.action != 'detail' %}
           {#% if c.controller != 'ckanext.applications.detail:DetailController' %#}
              {{ page.pager() }}
            {%endif%}
  {% endblock %}
        </article>
    {%endif%}

{% endblock %}

{% block secondary_content %}
{%if c.action!= 'new_app' %}
    {#%if c.controller == 'ckanext.applications.detail:DetailController'%#}
    {%if c.action == 'detail' %}
        {%if c.img != ''%}
          <aside class="secondary span3">
            <section class="module module-narrow module-shallow">
              <h2 class="module-heading"> {{_('Image')}}: </h2>
                <div class="module-content">
                  <img src="{{c.img}}" alt="app custom image" />
                </div>
            </section>
          </aside>
          {%endif%}
    {%elif c.action == 'edit_app' %}
    {% else %}
      <section class="module module-narrow module-shallow">
        <h2 class="module-heading">{{ _('What are applications?') }}</h2>
        <div class="module-content">
          {%if c.language == 'sk'%}
          Toto sú aplikácie zostavené datasetmi ako aj nápadmi pre ich iné využitie.
          {%else%}
          {{_('These are applications built with the datasets as well as ideas for things that could be done with them.')}}
          {%endif%}

        </div>
      </section>

      <section class="module module-narrow module-shallow">
        <h2 class="module-heading">{{ _('Filter Results') }}</h2>
        <form action="/apps/search" method="get" class="module-content form-inline form-narrow section site-search simple-input">

          <input type='hidden' name='page' value='1'/>
         <div class="control-group" >
    {% if c.controller == 'ckanext.applications.apps:AppsController' %}
          <div class="control-group" hidden>
    {%else %}
    <div class="control-group">
    {% endif %}
          </div>


            <label for="field-sort">{{ _('Sort by') }}</label>
            <select id="field-sort" name="sort">
              <option value="">{{ _('Default') }}</option>
              {% for option in c.sort_options %}
                <option value="{{ option.value }}"{% if c.filters.sort == option.value %} selected="selected"{% endif %}>{{ option.text or option.value }}</option>
              {% endfor %}
            </select>
          </div>
          {% if h.is_admin() %} 
              <input type="checkbox" id="field-private" name="private" 
              {%if c.filters is mapping  %}
                {% if c.filters.get('private') == 'on' %} checked="checked"{% endif %}>
              {% endif %}
              {{ _('Only show private items') }} 
          {% endif %}
         
         {% if request.url.split("?")[1] %}
            {% for i in request.url.split("?")[1].split("&") %}
                {% if i.split('=')[0] == 'app_name' %}
                    <input id="{{i.split('=')[0]}}" type="text" name="{{i.split('=')[0]}}" value="{{i.split('=')[1]}}" style="display: none;"/> 
                {%endif%}
            {%endfor%}
          {%endif%}
          <div class="form-actions">
            <button class="btn btn-primary">{{ _('Apply') }}</button>
            <a class="btn" href="/apps">{{ _('Cancel') }}</a>
          </div>
        </form>
      </section>
     {%endif%}
    {%endif%}
{% endblock %}
