{% ckan_extends %}

{% block content_primary_nav %}
 
{% endblock %}

{% block header_site_navigation_tabs %}
{{super()}}
<script type="text/javascript">
function change_style(){
	var style = document.getElementById("contrast");
	if(style.href.indexOf("/high_contrast.css") > -1){ style.href = "/screen.css" }else { style.href = "/high_contrast.css" }
}
</script>
  <li>
   <a onclick="change_style()" href="#">
      <i class="fa fa-edit"></i>{{_("Change contrast")}}
    </a>
  </li>

<!--

-->            
 	
{% endblock %}
{% block header_site_search %}
{%endblock%}