{% extends 'related/dashboard.html'%}
{% import 'macros/form.html' as form %}

{%block primary_content%}

<div class="module-content">
             <h1> Edit application </h1>
            <form name="new_app_form" onsubmit="return validateForm()" class="dataset-form form-horizontal" method="post" data-module="basic-form" action='/apps/update/in?id={{c.data['id']}}'>
            {%if c.errors|length > 0 %}
              <div class="alert alert-danger" role="alert">
                {% for key, value in c.errors.iteritems()%}
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                
                <span class="sr-only">Error:</span>
                  {{value[0]|e}} <br />
                {%endfor%}
              </div>
              {%endif%}  


{% block fields %}
    {{ form.input('title', label=_('Title'), id='field-title', placeholder=_('My Related Item'), value=c.data['title'], error=c.errors.title, classes=['control-full']) }}
    {{ form.input('url', label=_('URL'), id='field-url', placeholder=_('http://example.com/'), value=c.data['url'], error=c.errors.url, classes=['control-full']) }}
    {{ form.input('image_url', label=_('Image URL'), id='field-image-url', placeholder=_('http://example.com/image.png'), value=c.data['image_url'], error=c.errors.image_url, classes=['control-full']) }}
    
    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about the item...'), value=c.data['description'], error=c.errors.description) }}
     {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
                  {{ form.input('datasets', id='field-tags', label=_('Datasets'), placeholder=_('eg. default'), value=c.datasets, error='', classes=['control-full'], attrs=tag_attrs) }}

    <label class="control-label" for="publicity" >Publicity</label>
   <select id="publicity" name="private" style="margin-left: 0.6em;">
      
        <option value="private">Private</option>
        <option value="public">Public</option>
    </select>
      
  {% endblock %}




              <div class="form-actions">
                
                {#{ h.nav_link(_('Cancel'), controller='related', action='list', id="", class_='btn') }#}
                <a class="btn" href="/apps" name="cancel" >{{ _('Cancel') }}</a>
                <button class="btn btn-primary" type="submit" name="save">{{ _('Save') }}</button>
              </div>
            </form>
          </div>
      </section>
   </div> 

{%endblock%}