 
<section class="module">
 

          <div class="module-content">
             <h1> {{ _('Register new application') }} </h1>
             <p style="color:#bd0a26; margin-bottom: 2em;">{{ _('Registered application will be saved as private, and will be made public once approval by the administrator or data curator has been granted.') }}</p>
            <form name="new_app_form"  class="dataset-form form-horizontal" method="post" data-module="basic-form" action='/apps/new/in'>
              {% block error_summary %}
                {% if error_summary | count %}
                  <div class="alert alert-error error-explanation">
                    <p>{{ _('The form contains invalid entries:') }}</p>
                    <ul>
                      {% for key, error in error_summary.items() %}
                        <li>{{ key }}: {{ error }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <script type="text/javascript">
                    var datasets  = "{{app_names}}";
                    datasets = datasets.replace(/u&#39;/g,'')
                    datasets = datasets.replace(/&#39;/g,'')
                    datasets = datasets.substring(1, datasets.length - 1);
                    datasets = datasets.split(', ')
                </script>
              {% endblock %}
              {%if errors %}
              <div class="alert alert-danger" role="alert">
                {% for key, value in errors.iteritems()%}
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                  {{value|e}} <br />
                {%endfor%}
              </div>
              {%endif%}


              
              
              {% block fields %}
              {% if data %}
                {{ form.input('title', label=_('Title'), id='field-title', placeholder=_('My Related Item'), value=data['title'], error="", classes=['control-full']) }}
                {{ form.input('url', label=_('URL'), id='field-url', placeholder=_('http://example.com/'), value=data['url'], error="", classes=['control-full']) }}
                 {{ form.input('owner', label=_('Owner'), id='field-url', placeholder=_('owner'), value=data['owner'], error="", classes=['control-full']) }}
                {{ form.input('image_url', label=_('Image URL'), id='field-image-url', placeholder=_('http://example.com/image.png'), value=data['image_url'], error="", classes=['control-full']) }}
                {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about the item...'), value=data['description'], error="") }}
                 {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
                  {{ form.input('datasets', id='field-tags', label=_('Datasets'), placeholder=_('eg. default'), value=data['datasets'], error='', classes=['control-full'], attrs=tag_attrs) }}

                  
                  {% set t_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
                  
                   {{ form.input('tags', label=_('Tags'), id='field-tags', value=data['tags'], placeholder=_('tag1, tag2 ...'),  error="", classes=['control-full'], attrs=t_attrs) }}


                   <label class="control-label" for="">{{_("Topic")}}</label>
                   {%set topics = h.all_topics() %}
                  {% for i in topics %}
                    {% if i in data.keys() %}
                      {{ form.checkbox(i['display_name'], checked=True, label=i['display_name'] ,id=i['display_name'], classes=["min_padding"])}}
                    {%else%}
                      {{ form.checkbox(i['display_name'], checked=False, label=i['display_name'] ,id=i['display_name'], classes=["min_padding"])}}
                    {%endif%}
                  {%endfor%}
                    {{ form.input('other', id='field-other', label=_('Other topic'), placeholder=_('eg. default'), value=dataset, error='', classes=['control-full']) }}

                  

              {%else%}
                {{ form.input('title', label=_('Title'), id='field-title', placeholder=_('My Related Item'), value="", error="", classes=['control-full']) }}
                {{ form.input('url', label=_('URL'), id='field-url', placeholder=_('http://example.com/'), value="", error="", classes=['control-full']) }}
                 {{ form.input('owner', label=_('Owner'), id='field-url', placeholder=_('owner'), value="", error="", classes=['control-full']) }}

                {{ form.input('image_url', label=_('Image URL'), id='field-image-url', placeholder=_('http://example.com/image.png'), value="", error="", classes=['control-full']) }}
                {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about the item...'), value="", error="") }}
                 {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}

                  {{ form.input('datasets', id='field-tags', label=_('Datasets'), placeholder=_('eg. default'), value=dataset, error='', classes=['control-full'], attrs=tag_attrs) }}
                  

                  {% set t_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
                  
                   {{ form.input('tags', label=_('Tags'), id='field-tags', value="", placeholder=_('tag1, tag2 ...'),  error="", classes=['control-full'], attrs=t_attrs) }}

                   <label class="control-label" for="">{{_("Topic")}}</label>

                  {%set topics = h.all_topics() %}
                  {% for i in topics %}
                      {{ form.checkbox(i['display_name'], checked=False, label=i['display_name'] ,id=i['display_name'], classes=["min_padding"])}}
                  {%endfor%}
                    {{ form.input('other', id='field-other', label=_('Other topic'), placeholder=_('eg. default'), value=dataset, error='', classes=['control-full']) }}
              {%endif%}
            {% endblock %}
              {% set errors = h.del_x()['errors'] %}
              {% set data = h.del_x()['data'] %}
              <div class="form-actions">

                <button class="btn btn-primary" type="submit" name="save">{% block button_text %}{{ _('Save') }}{% endblock %}</button>
              </div>
            </form>
          </div>
      </section>
   </div> 